
.wrapper{
    text-align: center;
    padding-top: 80px;
}

.input_field{
    display: grid;
}

.input_area{
    display: grid;
}

.title {
    color: #3c009d;
    font-size: 36px; /* Decreased font size */
    font-weight: 700;
}