.wrapper {
    /* text-align: center; */
    /* padding-top: 50px; */
    /* margin: 50px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.requiredwarning {
    font-size: small;
}
.formheading {
    text-align: center;
    padding-top: 1rem;
}
.container {
    border: 1px solid rgba(14, 4, 5, 0.274);
    width: 50%;
    border-radius: 5px;
}
.formcontainer {
    display: flex;
    justify-content: center;
}

.title {
    color: #3c009d;
    font-size: 36px; /* Decreased font size */
    font-weight: 700;
}
.underline {
    width: 60px;
    height: 4px;
    background-color: #3c009d;
    border-radius: 9px;
    margin-bottom: 3px;
}

.input_field {
    display: grid;
    margin-bottom: 30px;
}
.input_number {
    width: 50%;
}
.input_number input {
    background: transparent;
    border: none;
    outline: none;
    color: #000000dd;
    font-size: 16px;
    background: #f8fafdd6;
    border-radius: 3px;
    height: 30px;
    width: 80%;
    border: 1px solid rgb(175, 172, 172);
    height: 35px;
}
.input_number input:focus,
.input_field input:focus,
.input_field_area textarea:focus {
    background-color: rgb(227, 227, 227);
}
.input_field_area {
    display: grid;
    margin-bottom: 30px;
}

.inner_input_field {
    display: flex;
}

.imageinputlable {
    background-color: #fff;
    color: black;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(14, 4, 5, 0.274);
}

.input_field input {
    background: transparent;
    border: none;
    outline: none;
    color: #000000dd;
    font-size: 16px;
    background: #f8fafdd6;

    border-radius: 3px;
    height: 30px;
    width: 100%;
    border: 1px solid rgb(175, 172, 172);
    width: 550px;
    height: 35px;
}

.input_field_area textarea {
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    background: #f8fafdd6;
    border-radius: 3px;
    width: 100%;
    border: 1px solid rgb(175, 172, 172);
    height: 100px;
}

.btn {
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.photo {
    margin-bottom: 20px;
    margin-top: 30px;
}
.submit_btn {
    align-items: center;

    background-color: #3c009d;
    border: 0;
    border-radius: 600px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 500px;
    min-height: 40px;
    min-width: 170px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    /* touch-action: manipulation; */
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 20px;
}

.submit_btn:hover,
.submit_btn:focus {
    background-color: #16437e;
    color: #ffffff;
}
