.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.auction_page {
    margin-top: 90px;
}
.text {
    color: #3c009d;
    font-size: 36px; /* Decreased font size */
    font-weight: 700;
}

.underline {
    width: 60px;
    height: 4px;
    background-color: #3c009d;
    border-radius: 9px;
    margin-bottom: 3px;
}
.auction_cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-evenly;
    gap: 1px; /* Add some space between cards */
}

@media (max-width: 768px) {
    .auction_cards {
        justify-content: center; /* Center cards on smaller screens */
    }
}

.new_auction_btn {
    margin-top: 2rem;
    margin-left: 1rem;
    align-items: center;
    /* background-color: #ccace8; */
    background-color: #4a4360;
    border: 0;
    border-radius: 800px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 650;
    justify-content: center;
    line-height: 20px;
    max-width: 500px;
    min-height: 45px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 3px;
    /* touch-action: manipulation; */
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
    border: 2px solid #4a4360;
}

.new_auction_btn:hover,
.new_auction_btn:focus {
    background-color: #ffffff;
    color: #4a4360;
    border: 2px solid rgb(14, 11, 11);
}
