.main_container{
    border: 1px solid black;
    margin: 10px;
}

.image{
    /* align-items: center;
    justify-content: center;
    width: 100%;
    height: auto; */
    border: 1px solid black;
}

.image img{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: #5c424915;
}

.product_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.productrightcontent {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
}

.product_price {
    /* font-size: large; */
    /* border: 1px solid black; */
}