@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Inter:wght@800;900&family=Rubik:wght@800&display=swap');


.Header{
    background-color: var(--purple);
    color: var(--lp);
    padding: 1.5rem;
    text-align: left;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}