.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #ffffff;
    padding-bottom: 30px;
    width: 90%; /* Adjusted width */
    max-width: 500px; /* Added max-width */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    color: #3c009d;
    font-size: 36px; /* Decreased font size */
    font-weight: 700;
}

.underline {
    width: 60px;
    height: 4px;
    background-color: #3c009d;
    border-radius: 9px;
    margin-bottom: 3px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%; /* Adjusted width */
    height: 50px; /* Kept height */
    background: #eaeaea;
    border-radius: 6px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjusted width */
    max-width: 400px; /* Added max-width */
}

.input img {
    margin: 0 10px; /* Adjusted margin */
}

.input input {
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px; /* Adjusted font-size */
}

.submit_btn {
    align-items: center;
    background-color: #3c009d;
    border: 0;
    border-radius: 600px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    min-width: 150px; /* Adjusted min-width */
    min-height: 40px;
    padding: 10px 20px; /* Adjusted padding */
    text-align: center;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
}

.submit_btn:hover,
.submit_btn:focus {
    background-color: #16437e;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .container {
        padding: 20px;
    }
    .inputs {
        width: 100%;
        max-width: 100%;
    }
    .input {
        width: 100%;
    }
    .input img {
        margin: 0 8px;
    }
    .submit_btn {
        min-width: 120px;
        padding: 8px 16px;
    }
}
.forgot_password {
    cursor: pointer;
}
