.new-auction-btn {
    margin-top: 2rem;
    margin-left: 1rem;
    align-items: center;
    /* background-color: #ccace8; */
    background-color:#4a4360;
    border: 0;
    border-radius: 800px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 650;
    justify-content: center;
    line-height: 20px;
    max-width: 500px;
    min-height: 45px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 3px;
    /* touch-action: manipulation; */
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
    border: 2px solid #4a4360;
}

.new-auction-btn:hover,
.new-auction-btn:focus {
    background-color: #dad5d5;
    color: #4a4360;
    border: 2px solid rgb(14, 11, 11);
}
