.div-main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* Adjust the gap value as needed */
    position: relative;
    top: 20px;
}
.formargin {
    margin-top: 15em;
}
.cards {
    max-width: 300px;
    max-height: 600px;
    min-height: 300px;
    min-width: 250px;
    flex: 1 0 calc(25% - 20px); /* Adjust the flex value to fit 4 cards per row */
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgba(14, 4, 5, 0.274);
    offset-distance: 2;
    box-shadow: -1px 1px 13px 3px #362e2e52, 0px 20px 9px 20px #ffffff;
    border-radius: 3px;
    background: #ffffff;
}

.cards img {
    width: 100%;
    height: auto;
    margin-top: 3px;
}

.description-content {
    display: flex;
    margin: 1.5em;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.price {
    font-weight: 700;
    font-size: x-large;
}

.product_name {
    color: #000000;
    font-size: larger;
}
.cardbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: small;
    color: rgba(14, 4, 5, 0.989);
}
.Ad-title {
    color: rgba(14, 4, 5, 0.751);
    font-size: 1rem;
}

@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .div-main {
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media screen and (max-width: 600px) {
    /* Adjust breakpoint as needed */
    .formargin {
        margin-top: 13em;
    }
}

.proimage {
    width: "100%";
    aspect-ratio: 3/2;
    height: "3em";
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.456);
}
