.div-main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap value as needed */
    justify-content: center;
}

.cards {
    border: 1px solid black;
    max-width: 250px;
    max-height: 600px;
    flex: 1 0 calc(25% - 20px); /* Adjust the flex value to fit 4 cards per row */
    box-sizing: border-box;
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: auto;
}

.description-content {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .div-main {
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
