.chatbutton {
    color: "black";
    border: "1px solid black";
    width: 90%;
    padding: 6px;
}

.chatbutton:hover {
    border: 2px solid #333c4d;
    background-color: #314366;
    color: white;
}

.maincontainer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin: 50px;
    justify-content: center;
    margin-top: 7.5rem;
}

.leftdiv {
    flex: 1 1 60%; /* Take up 60% of the container's width */
    max-width: 60%;
    margin-right: 20px; /* Add some space between left and right div */
}

.rightdiv {
    flex: 1 1 35%; /* Take up 35% of the container's width */
    max-width: 35%;
}
.profilecard {
    display: flex;
    flex-direction: column;
}
.image {
    background-color: black;
    border-radius: 2%;
    width: 100%; /* Image takes full width of its container */
}

.description {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
    font-size: large;
}

.location,
.sellerinfo,
.productdetails {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px; /* Add space between each section */
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
    font-size: large;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .maincontainer {
        margin: 20px; /* Reduce margin on smaller screens */
    }
    .leftdiv {
        max-width: 100%; /* Take up full width on smaller screens */
        margin-right: 0; /* Remove margin between left and right div */
    }
    .rightdiv {
        max-width: 100%; /* Take up full width on smaller screens */
    }
}

/* Base font size */
body {
    font-size: 16px;
}

/* Adjust font sizes for different sections */
.description,
.location,
.sellerinfo,
.productdetails {
    font-size: 1em; /* Base font size */
}
.sellerinfo {
    text-align: center;
}

/* Adjust font sizes for smaller screens */
@media (max-width: 768px) {
    .description,
    .location,
    .sellerinfo,
    .productdetails {
        font-size: 0.9em; /* Reduce font size on smaller screens */
    }
}

.priceandheart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favoriteIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.likedIcon {
    margin-right: 5px;
    cursor: pointer;
    color: red;
}
.favoriteIcon :hover {
    color: red;
}
.likescount {
    font-size: smaller;
    cursor: default;
    pointer-events: none;
}
@media screen and (max-width: 601px) {
    .maincontainer {
        margin-top: 7em;
    }
}
